.navbar-default{
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

#login, #register, #btn-logout, #btn-explore, #btn-home {
    color: #fff;
    font-family: 'Fredoka One', cursive;
}

#login:hover, #register:hover {
    cursor: pointer;
    color: rgb(231, 183, 24);
}

.bg {
    background: url("image/high-angle-view-of-cityscape-against-cloudy-sky-313782.jpg");
    background-size: cover;
    height: 750px;
}

.bg-2 {
    background: rgba(10, 10, 10, 0.5);
    background-size: cover;
    height: 750px;
}

#h1-home {
    color: white;
    font-family: 'Fredoka One', cursive;
}

.padding {
    padding-top: 20%;
}

.font-custom-fredoka,h4 {
    font-family: 'Fredoka One', cursive;
}

.font-custom-roboto {
    font-family: 'Libre Baskerville', serif;
}

.form-login-custom {
    background-color: rgba(20, 20, 20, 0.589);
    border-radius:10%;
    border-color: none;
}

.my-5{
    overflow-y: scroll;
    height: 60vh;
}

.mt-5 {
    overflow-y: scroll;
    height: 30vh;
}

.navbar {
    box-shadow: none;
}

.container-custom {
    width: 80%;
    margin-top: 5%;
}

.card-img-100 {
    height: 80px;
    width: 80px;
}

.profile {
    height: 30vh;
}

h4 {
    color: white;
}

.card-todos {
    max-width: 70%;
    margin: auto;
    text-align: center;
}

.btn-delete:hover {
    background-color: red !important;
}

/****************************/

.card-profile {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
  }
  
  .title-profile {
    color: grey;
    font-size: 18px;
  }
  
  .btn-profile {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  /* a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  } */
  
  button:hover, a:hover {
    opacity: 0.7;
  }